* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}

body::before {
    content: '';
    width: 100%;
    height: 368px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #121214;
}

.page {
    width: 736px;
    margin: auto;
}

header {
    width: 319px;

    margin-top: 74px;
}

header h1 {
    font-family: "Archivo", serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: white;
}

header p {
    font-size: 16px;
    line-height: 26px;

    color: #42D3FF;
}

form {
    margin-top: 38px;
    background: #FAFAFC;
    border-radius: 8px 8px 0 0 ;
    min-height: 300px;
    padding: 64px;

    display: flex;
    flex-direction: column;
    gap: 48px;
}

fieldset {
    border: none;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

fieldset legend {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;

    width: 100%;

    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label,
.checkbox-wrapper{
    font-size:  14px;
    line-height: 24px;

    color: #4E4958;
}

.input-wrapper label span {
    margin-left: 14px;

    font-size: 12px;
    line-height: 20px;

    color: #969292;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;

    height: 56px;

    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;

    color: #464646;
    
}

.input-wrapper textarea {
    padding: 0;
    height: 168px;
    resize: none;
}

.input-wrapper select{
    -webkit-appearance: none;

    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyNHB4IiBmaWxsPSJ1bmRlZmluZWQiPjxwYXRoIGQ9Ik00ODAtMzQ1IDI0MC01ODVsNTYtNTYgMTg0IDE4MyAxODQtMTgzIDU2IDU2LTI0MCAyNDBaIi8+PC9zdmc+");
    background-position: right 24px top 50%;
    background: no-repeat;
}

.col-3 {
    display: flex;
    gap: 20px;
}

.col-3 > div:nth-child(1) {
    width: 100%;
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper label {
    display: flex;
    margin: 0;
    align-items: center;
    gap: 16px;
}

.checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;

    opacity: 0;
}

.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    display: block;
}


.checkbox-wrapper input:checked + label::before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='undefined'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E");
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid ;
}

footer{
    display: flex;
    flex-direction: column;
    background: #F0F0F4;

    height: 136px;

    padding: 40px 64px;

    margin-bottom: 100px;

    border-top: 1px solid #D6D6D6;

    border-radius: 0 0 8px 8px;
}

footer .button {
    font-family: 'archivo', sans-serif;
    font-size: 16px;
    line-height: 26px;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    background: #04D361;
    color: white;
    height: 56px;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background: #04b152;
}